body {
  font-family: 'VT323', monospace;
  font-size: 40px;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.hide {
  display: none; }

.close {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 2; }

.container {
  position: relative; }

.container * {
  position: absolute; }

.container .not-absolute {
  position: initial; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  width: 1280px;
  height: 720px; }

.dialogue {
  bottom: 10px;
  text-align: center;
  width: 100%; }

.dialogue p {
  position: relative;
  display: none; }

.dialogue .clerk {
  color: #00b2c5; }

.dialogue .janitor {
  color: #784111; }

.story-beginning {
  background-image: url("../img/story-beginning/backdrop01.png"); }

.story-beginning .character-cam {
  bottom: 172px;
  left: 300px; }

.story-beginning .character-clerk {
  bottom: 172px;
  right: 200px; }

.splash {
  background: #7341e4; }

.splash .splash-cam {
  right: 0;
  bottom: 0; }

.splash .instructions {
  width: 400px; }

.splash .instructions p {
  position: relative; }

.show {
  display: block !important; }

.fade-in {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0; }

.level-1 {
  background-image: url("../img/level-1/backdrop01.png"); }
  .level-1 .gates {
    top: 366px;
    left: 475px;
    z-index: 1; }

.level-1 .number-pad {
  background-image: url("../img/level-1/pad-bg.png");
  padding: 100px 70px;
  width: 278px;
  height: 369px;
  margin: auto;
  position: relative;
  z-index: 2; }
  .level-1 .number-pad .number {
    width: 80px;
    height: 95px;
    position: relative;
    display: inline-block; }
    .level-1 .number-pad .number:active {
      opacity: 0.6; }
  .level-1 .number-pad .number-01 {
    background-image: url("../img/level-1/pad-num-01.png"); }
  .level-1 .number-pad .number-02 {
    background-image: url("../img/level-1/pad-num-02.png"); }
  .level-1 .number-pad .number-03 {
    background-image: url("../img/level-1/pad-num-03.png"); }
  .level-1 .number-pad .number-04 {
    background-image: url("../img/level-1/pad-num-04.png"); }
  .level-1 .number-pad .number-05 {
    background-image: url("../img/level-1/pad-num-05.png"); }
  .level-1 .number-pad .number-06 {
    background-image: url("../img/level-1/pad-num-06.png"); }
  .level-1 .number-pad .number-07 {
    background-image: url("../img/level-1/pad-num-07.png"); }
  .level-1 .number-pad .number-08 {
    background-image: url("../img/level-1/pad-num-08.png"); }
  .level-1 .number-pad .number-09 {
    background-image: url("../img/level-1/pad-num-09.png"); }
  .level-1 .number-pad .number-00 {
    background-image: url("../img/level-1/pad-num-00.png"); }
  .level-1 .number-pad .number-ha {
    background-image: url("../img/level-1/pad-num-ha.png"); }
  .level-1 .number-pad .lights {
    background-image: url("../img/level-1/pad-lights_sprite.png");
    width: 21px;
    height: 21px;
    position: relative;
    float: right;
    margin-right: 52px;
    margin-top: 16px; }

.level-2 {
  background-image: url("../img/level-2/backdrop01.png"); }
  .level-2 .cat {
    top: 358px;
    left: 800px;
    z-index: 99; }
  .level-2 .access-card {
    top: 409px;
    left: 817px;
    cursor: pointer; }
  .level-2 .access-granted {
    top: 409px;
    left: 510px;
    display: none; }

.level-3 {
  background-image: url("../img/level-3/backdrop01.png"); }
  .level-3 .backdrop-02 {
    top: 329px;
    left: 792px; }
  .level-3 .light {
    display: none;
    right: 0;
    top: 96px; }
  .level-3 .safe {
    background-image: url("../img/level-3/safe-01.png");
    width: 145px;
    height: 137px;
    top: 213px;
    left: 1000px; }
  .level-3 .safe-password {
    margin: auto;
    position: relative;
    width: 380px;
    z-index: 2;
    padding-top: 300px; }
    .level-3 .safe-password .lights {
      background-image: url("../img/level-1/pad-lights_sprite.png");
      width: 21px;
      height: 21px;
      position: relative;
      float: right;
      border: 9px solid #292929;
      box-shadow: black 7px 7px 0px;
      margin-top: 10px; }
  .level-3 .password {
    font-size: 32px;
    background-color: gray;
    border: 9px solid #292929;
    box-shadow: black 7px 7px 0px; }

.story-ending {
  background-image: url("../img/story-ending/backdrop01.png"); }

.story-ending .character-cam {
  bottom: 172px;
  left: 300px; }

.story-ending .runt {
  bottom: 172px;
  left: 400px; }

.story-ending .character-janitor {
  bottom: 172px;
  right: 200px; }
